body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
}

header {
    background-color: rgba(216, 191, 245, 0.849);
    color: white;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header img {
    display: block;
    margin: 0 auto;
    border:10;

}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    margin: 20px;
}

article {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

aside {
    float: right;
    width: 90%;
    height: 80px;
    background-color: rgb(158, 236, 236);
    padding: 1em;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 11px;
}

footer {
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

/* Estilos para enlaces */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
